body{
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.head {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: -webkit-fill-available;
}

.disp {
    display: flex;
    justify-content: space-between;
    width: 200px;
    font-size: 20px;;
}

